<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>POSIXSpawnType</key>
	<string>Interactive</string>
	<key>Label</key>
	<string>com.apple.metadata.mds.scan</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.metadata.mds.scan</key>
		<dict>
			<key>ResetAtClose</key>
			<true/>
		</dict>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/Frameworks/CoreServices.framework/Frameworks/Metadata.framework/Versions/A/Support/mdsync</string>
		<string>-s</string>
		<string>mdworker-scan</string>
		<string>-c</string>
		<string>MDSSyncScanWorker</string>
		<string>-m</string>
		<string>com.apple.metadata.mds.scan</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Spotlight</string>
	<key>LowPriorityBackgroundIO</key>
	<false/>
</dict>
</plist>
