<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.logkextloadsd</string>
	<key>Program</key>
	<string>/usr/libexec/logkextloadsd</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Weekday</key>
		<integer>2</integer>
		<key>Hour</key>
		<integer>14</integer>
		<key>Minute</key>
		<integer>20</integer>
	</dict>
	<key>PosixSpawnType</key>
	<string>Background</string>
	<key>LowPriorityIO</key>
	<true/>
</dict>
</plist>
