<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.bridgeOSUpdateProxy</string>
	<key>UserName</key>
	<string>_softwareupdate</string>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/PrivateFrameworks/BridgeOSSoftwareUpdate.framework/Support/bosUpdateProxy</string>
	</array>
	<key>MachServices</key>
	<dict>
		<key>com.apple.bridgeOSUpdateProxy</key>
		<true/>
	</dict>
	<key>POSIXSpawnType</key>
	<string>Adaptive</string>
	<key>EnablePressuredExit</key>
	<true/>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.remoteservicediscovery.events</key>
		<dict>
			<key>matching</key>
			<dict>
				<key>AvailableService</key>
				<string>com.apple.bridgeOSUpdated</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
