<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnablePressuredExit</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
	<key>Label</key>
	<string>com.apple.contextstored</string>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.notifyd.matching</key>
		<dict>
			<key>SignificantTimeChangeNotification</key>
			<dict>
				<key>Notification</key>
				<string>SignificantTimeChangeNotification</string>
			</dict>
			<key>com.apple.MediaRemote.nowPlayingApplicationIsPlayingDidChange</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.MediaRemote.nowPlayingApplicationIsPlayingDidChange</string>
			</dict>
			<key>com.apple.MediaRemote.nowPlayingInfoDidChange</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.MediaRemote.nowPlayingInfoDidChange</string>
			</dict>
			<key>com.apple.powermanagement.idlesleeppreventers</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.powermanagement.idlesleeppreventers</string>
			</dict>
			<key>com.apple.powermanagement.restartpreventers</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.powermanagement.restartpreventers</string>
			</dict>
			<key>com.apple.powermanagement.systemsleeppreventers</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.powermanagement.systemsleeppreventers</string>
			</dict>
			<key>com.apple.symptoms.materialLinkQualityChange</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.symptoms.materialLinkQualityChange</string>
			</dict>
			<key>com.apple.system.config.network_change</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.system.config.network_change</string>
			</dict>
			<key>com.apple.system.powermanagement.useractivity2</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.system.powermanagement.useractivity2</string>
			</dict>
			<key>com.apple.system.powermanagement.uservisiblepowerevent</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.system.powermanagement.uservisiblepowerevent</string>
			</dict>
			<key>com.apple.system.powersources.percent</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.system.powersources.percent</string>
			</dict>
			<key>com.apple.system.powersources.source</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.system.powersources.source</string>
			</dict>
			<key>com.apple.system.thermalpressurelevel</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.system.thermalpressurelevel</string>
			</dict>
			<key>com.apple.timezone.prefschanged</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.timezone.prefschanged</string>
			</dict>
		</dict>
	</dict>
	<key>MachServices</key>
	<dict>
		<key>com.apple.coreduetd.context</key>
		<true/>
	</dict>
	<key>ProcessType</key>
	<string>Adaptive</string>
	<key>Program</key>
	<string>/System/Library/PrivateFrameworks/CoreDuetContext.framework/Resources/contextstored</string>
</dict>
</plist>
