<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.odproxyd</string>
	<key>Disabled</key>
	<true/>
	<key>Program</key>
	<string>/usr/libexec/odproxyd</string>
	<key>ProgramArguments</key>
	<array>
		<string>odproxyd</string>
	</array>
	<key>Sockets</key>
	<dict>
		<key>com.apple.odproxyd</key>
		<dict>
			<key>SockServiceName</key>
			<string>625</string>
			<key>Bonjour</key>
			<string>odproxy</string>
		</dict>
	</dict>
</dict>
</plist>
