<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.msrpc.netlogon</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/libexec/rpcsvchost</string>
		<string>-launchd</string>
		<string>netlogon.bundle</string>
	</array>
	<key>EnableTransactions</key>
	<false/>
	<key>Sockets</key>
	<dict>
		<key>ncalrpc</key>
		<dict>
			<key>Bonjour</key>
			<false/>
			<key>SockPathMode</key>
			<integer>438</integer> <!-- 0666 -->
			<key>SockPathName</key>
			<string>/var/rpc/ncalrpc/NETLOGON</string>
		</dict>
	</dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>RPC_DEBUG</key>
		<string>0</string>
	</dict>
</dict>
</plist>
