<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnableTransactions</key>
	<true/>
	<key>EnablePressuredExit</key>
	<false/>
	<key>Label</key>
	<string>com.apple.systemstats.daily</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/sbin/systemstats</string>
		<string>--daily</string>
	</array>
	<key>POSIXSpawnType</key>
	<string>Background</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>0</integer>
		<key>Minute</key>
		<integer>15</integer>
	</dict>
</dict>
</plist>
