<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.dpaudiothru</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.dpaudiothru</key>
		<true/>
	</dict>
	<key>Program</key>
	<string>/usr/libexec/dpaudiothru</string>
	<key>ProgramArguments</key>
	<array>
		<string>dpaudiothru</string>
		<string>-service</string>
	</array>
  <key>ThrottleInterval</key>
  <integer>1</integer>
	<key>POSIXSpawnType</key>
	<string>Interactive</string>
</dict>
</plist>
