<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
	<key>Label</key>
	<string>com.apple.corebrightnessd</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/libexec/corebrightnessd</string>
		<string>--launchd</string>
	</array>
	<key>MachServices</key>
	<dict>
		<key>com.apple.backlightd</key>
		<true/>
	</dict>
    <key>ProcessType</key>
    <string>Interactive</string>
</dict>
</plist>
