<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.seld</string>
	<key>Program</key>
	<string>/usr/libexec/seld</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.seld.aps</key>
		<true/>
		<key>com.apple.seld.tsmmanager</key>
		<true/>
	</dict>
	<key>EnableTransactions</key>
	<true/>
	<key>EnablePressuredExit</key>
	<true/>
	<key>ProcessType</key>
	<string>Adaptive</string>
	<key>UserName</key>
	<string>_applepay</string>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.distnoted.matching</key>
		<dict>
			<key>com.apple.nfcd.se.restricted</key>
			<dict>
				<key>Name</key>
				<string>com.apple.nfcd.se.restricted</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
