<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.watchdogd</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/libexec/watchdogd</string>
	</array>
	<key>POSIXSpawnType</key>
	<string>Interactive</string>
	<key>KeepAlive</key>
	<dict>
		<key>Crashed</key>
		<true/>
	</dict>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.iokit.matching</key>
		<dict>
			<key>com.apple.driver.AppleOSXWatchdog</key>
			<dict>
				<key>IOProviderClass</key>
				<string>AppleOSXWatchdog</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
