<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.noticeboard.state</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.noticeboard.state</key>
		<true/>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Program</key>
	<string>/System/Library/PrivateFrameworks/Noticeboard.framework/Versions/A/Resources/nbstated</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>EnablePressuredExit</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
</dict>
</plist>
