<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnablePressuredExit</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
	<key>Label</key>
	<string>com.apple.secinitd</string>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.OpenDirectory.ODTrigger</key>
		<dict>
			<key>Record Deletion</key>
			<dict>
				<key>Events</key>
				<string>Delete</string>
				<key>Nodes</key>
				<string>/Local/Default</string>
				<key>RecordTypes</key>
				<string>dsRecTypeStandard:Users</string>
				<key>TriggerType</key>
				<string>Records</string>
			</dict>
			<key>Record Modification</key>
			<dict>
				<key>Nodes</key>
				<string>/Local/Default</string>
				<key>RecordAttributes</key>
				<array>
					<string>dsAttrTypeStandard:NFSHomeDirectory</string>
					<string>dsAttrTypeStandard:UniqueID</string>
					<string>dsAttrTypeStandard:GeneratedUID</string>
				</array>
				<key>RecordTypes</key>
				<string>dsRecTypeStandard:Users</string>
				<key>TriggerType</key>
				<string>RecordAttributes</string>
			</dict>
		</dict>
	</dict>
	<key>MachServices</key>
	<dict>
		<key>com.apple.secinitd</key>
		<true/>
		<key>com.apple.secinitd.fileoperations</key>
		<true/>
	</dict>
	<key>POSIXSpawnType</key>
	<string>Adaptive</string>
	<key>Program</key>
	<string>/usr/libexec/secinitd</string>
	<key>ThrottleInterval</key>
	<integer>1</integer>
</dict>
</plist>
