<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.bluetoothaudiod</string>
	<key>POSIXSpawnType</key>
	<string>Interactive</string>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>LegacyTimers</key>
	<true/>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.iokit.matching</key>
		<dict>
			<key>com.apple.rfcomm.incoming</key>
			<dict>
				<key>IOMatchLaunchStream</key>
				<true/>
				<key>IOProviderClass</key>
				<string>IOBluetoothRFCOMMChannel</string>
			</dict>
			<key>com.apple.a2dp.incoming</key>
			<dict>
				<key>IOMatchLaunchStream</key>
				<true/>
				<key>IOProviderClass</key>
				<string>IOBluetoothL2CAPChannel</string>
				<key>IOPropertyMatch</key>
				<dict>
					<key>PSM</key>
					<integer>25</integer>
					<key>IsInitiator</key>
					<false/>
				</dict>
			</dict>
			<key>com.apple.bluetooth.outgoing</key>
			<dict>
				<key>IOProviderClass</key>
				<string>IOService</string>
				<key>IOMatchLaunchStream</key>
				<true/>
				<key>IOPropertyMatch</key>
				<dict>
					<key>AgentPath</key>
					<string>com.apple.bluetoothaudiod</string>
					<key>StartAgent</key>
					<true/>
				</dict>
			</dict>
			<key>com.apple.avrcp.incoming</key>
			<dict>
				<key>IOMatchLaunchStream</key>
				<true/>
				<key>IOProviderClass</key>
				<string>IOBluetoothL2CAPChannel</string>
				<key>IOPropertyMatch</key>
				<dict>
					<key>PSM</key>
					<integer>23</integer>
					<key>IsInitiator</key>
					<false/>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>MachServices</key>
	<dict>
		<key>com.apple.bluetoothaudiod</key>
		<true/>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/sbin/bluetoothaudiod</string>
	</array>
	<key>ThrottleInterval</key>
	<integer>1</integer>
</dict>
</plist>
