<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.wifivelocityd</string>
	<key>Program</key>
	<string>/usr/libexec/wifivelocityd</string>
	<key>POSIXSpawnType</key>
	<string>Adaptive</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.wifivelocityd</key>
		<true/>
	</dict>
	<key>EnablePressuredExit</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
</dict>
</plist>
