<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.nehelper</string>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.neprovider-system</key>
		<dict>
			<key>SendMessage</key>
			<dict>
				<key>MessageID</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>com.apple.fsevents.matching</key>
		<dict>
			<key>ConfigFileChanged</key>
			<dict>
				<key>Path</key>
				<string>/Library/Preferences/com.apple.networkextension.plist</string>
			</dict>
			<key>ControlSettingsChanged</key>
			<dict>
				<key>Path</key>
				<string>/Library/Preferences/com.apple.networkextension.control.plist</string>
			</dict>
			<key>NetworkdSettingsChanged</key>
			<dict>
				<key>Path</key>
				<string>/Library/Preferences/com.apple.networkd.plist</string>
			</dict>
			<key>NetworkdSysctlSettingsChanged</key>
			<dict>
				<key>Path</key>
				<string>/Library/Preferences/com.apple.networkd.sysctl.plist</string>
			</dict>
		</dict>
		<key>com.apple.networkextension</key>
		<dict>
			<key>NENotificationEvent</key>
			<dict>
				<key>network-detection-reevaluate</key>
				<true/>
			</dict>
		</dict>
		<key>com.apple.systemconfiguration</key>
		<dict>
			<key>PreferencesChanged</key>
			<dict>
				<key>Identifier</key>
				<string>preferences.plist</string>
			</dict>
		</dict>
		<key>com.apple.distnoted.matching</key>
		<dict>
			<key>ApplicationInstalled</key>
			<dict>
				<key>Name</key>
				<string>com.apple.LaunchServices.applicationRegistered</string>
			</dict>
			<key>ApplicationUninstalled</key>
			<dict>
				<key>Name</key>
				<string>com.apple.LaunchServices.applicationUnregistered</string>
			</dict>
		</dict>
	</dict>
	<key>MachServices</key>
	<dict>
		<key>com.apple.nehelper</key>
		<true/>
		<key>com.apple.networkd_privileged</key>
		<true/>
	</dict>
	<key>Program</key>
	<string>/usr/libexec/nehelper</string>
	<key>ProcessType</key>
	<string>Adaptive</string>
	<key>EnablePressuredExit</key>
	<true/>
</dict>
</plist>
