<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.defragx</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/libexec/defragx</string>
	</array>
	<key>ProcessType</key>
	<string>Background</string>
	<key>EnablePressuredExit</key>
	<true/>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.notifyd.matching</key>
		<dict>
			<key>com.apple.defragx</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.defragx</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
