<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.softwareupdate_firstrun_tasks</string>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/CoreServices/Software Update.app/Contents/Resources/softwareupdate_firstrun_tasks</string>
	</array>
	<key>LaunchOnlyOnce</key>
	<true/>
	<key>KeepAlive</key>
	<dict>
		<key>PathState</key>
		<dict>
			<key>/Library/Updates/RecoveryInstallResult.plist</key>
			<true/>
			<key>/Library/Updates/ProductMetadata.plist</key>
			<false/>
		</dict>
	</dict>
	<key>UserName</key>
	<string>_softwareupdate</string>
</dict>
</plist>
