<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.ManagedClient.enroll</string>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/CoreServices/ManagedClient.app/Contents/MacOS/ManagedClient</string>
		<string>-e</string>
	</array>
	<key>MachServices</key>
	<dict>
		<key>com.apple.ManagedClient.enroll</key>
		<true/>
	</dict>
</dict>
</plist>
