<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<true/>
	<key>KeepAlive</key>
	<dict>
		<key>PathState</key>
		<dict>
			<key>/private/var/run/com.apple.slapd.start</key>
			<true/>
		</dict>
	</dict>
	<key>EnableTransactions</key>
	<false/>
	<key>Label</key>
	<string>com.apple.PasswordService</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/sbin/PasswordService</string>
		<string>-n</string>
	</array>
</dict>
</plist>
