<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Disabled</key>
        <false/>
        <key>EnableTransactions</key>
        <false/>
        <key>Label</key>
        <string>com.apple.security.syspolicy</string>
        <key>MachServices</key>
        <dict>
            <key>com.apple.security.AppleSystemPolicy.mig</key>
            <dict>
                <key>HostSpecialPort</key>
                <integer>29</integer>
            </dict>
            <key>com.apple.security.syspolicy.kext</key>
            <true/>
            <key>com.apple.security.syspolicy.exec</key>
            <true/>
            <key>com.apple.security.syspolicy</key>
            <true/>
        </dict>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/libexec/syspolicyd</string>
        </array>
        <key>POSIXSpawnType</key>
        <string>Adaptive</string>
        <key>LaunchEvents</key>
        <dict>
            <key>com.apple.xpc.activity</key>
            <dict>
                <key>com.apple.security.syspolicy.report</key>
                <dict>
                    <key>Delay</key>
                    <integer>86400</integer>
                    <key>GracePeriod</key>
                    <integer>43200</integer>
                    <key>Priority</key>
                    <string>Maintenance</string>
                    <key>AllowBattery</key>
                    <false/>
                    <key>Repeating</key>
                    <true/>
                </dict>
                <key>com.apple.security.syspolicy.find.bundles</key>
                <dict>
                    <key>Priority</key>
                    <string>Maintenance</string>
                    <key>AllowBattery</key>
                    <false/>
                    <key>Interval</key>
                    <integer>604800</integer>
                    <key>Repeating</key>
                    <true/>
                </dict>
                <key>com.apple.security.syspolicy.measure</key>
                <dict>
                    <key>Priority</key>
                    <string>Maintenance</string>
                    <key>AllowBattery</key>
                    <false/>
                    <key>Interval</key>
                    <integer>259200</integer>
                    <key>Repeating</key>
                    <true/>
                    <key>CPUIntensive</key>
                    <true/>
                    <key>PowerNap</key>
                    <true/>
                </dict>
                <key>com.apple.security.syspolicy.kext.mt</key>
                <dict>
                    <key>Delay</key>
                    <real>518400</real>
                    <key>GracePeriod</key>
                    <real>43200</real>
                    <key>Priority</key>
                    <string>Maintenance</string>
                    <key>Repeating</key>
                    <true/>
                </dict>
                <key>com.apple.security.syspolicy.rearm</key>
                <dict>
                    <key>Delay</key>
                    <integer>86400</integer>
                    <key>GracePeriod</key>
                    <integer>3600</integer>
                    <key>Priority</key>
                    <string>Maintenance</string>
                    <key>Repeating</key>
                    <true/>
                </dict>
            </dict>
        </dict>
    </dict>
</plist>
