<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.rootless.init</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/libexec/rootless-init</string>
	</array>
	<key>WatchPaths</key>
	<array>
		<string>/System/Library/Sandbox/Compatibility.bundle/Contents/Resources/paths</string>
	</array>
</dict>
</plist>
