<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.ifdreader</string>
	<key>EnablePressuredExit</key>
	<true/>
	<key>POSIXSpawnType</key>
	<string>Adaptive</string>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/CryptoTokenKit/com.apple.ifdreader.slotd/Contents/MacOS/com.apple.ifdreader</string>
	</array>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.iokit.matching</key>
		<dict>
			<key>com.apple.ctk.ifdreader.device</key>
			<dict>
				<key>IOMatchLaunchStream</key>
				<true/>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
			</dict>
		</dict>
	</dict>
	<key>KeepAlive</key>
	<dict>
		<key>PathState</key>
		<dict>
			<key>/etc/reader.conf</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
