<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.nfcd</string>
	<key>Program</key>
	<string>/usr/libexec/nfcd</string>
	<key>EnableTransactions</key>
	<true/>
	<key>EnablePressuredExit</key>
	<true/>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>UserName</key>
	<string>_applepay</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.nfcd</key>
		<true/>
		<key>com.apple.nfcd.hwmanager</key>
		<true/>
	</dict>
</dict>
</plist>
