<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.MRTd</string>
	<key>RunAtLoad</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/CoreServices/MRT.app/Contents/MacOS/MRT</string>
		<string>-d</string>
	</array>
	<key>KeepAlive</key>
	<dict>
		<key>PathState</key>
		<dict>
			<key>/var/db/.MRTReady</key>
			<true/>
		</dict>
	</dict>
	<key>ProcessType</key>
	<string>Background</string>
</dict>
</plist>
