<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.loginwindow</string>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/CoreServices/loginwindow.app/Contents/MacOS/loginwindow</string>
		<string>console</string>
	</array>
	<key>KeepAlive</key>
	<true/>
	<key>POSIXSpawnType</key>
	<string>App</string>
</dict>
</plist>
