<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnableTransactions</key>
	<true/>
	<key>EnvironmentVariables</key>
	<dict/>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.apple.revisiond</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.revisiond</key>
		<dict>
			<key>ResetAtClose</key>
			<true/>
		</dict>
		<key>com.apple.revisiond.cache-delete</key>
		<true/>
	</dict>
	<key>POSIXSpawnType</key>
	<string>Adaptive</string>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/PrivateFrameworks/GenerationalStorage.framework/Versions/A/Support/revisiond</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
