<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.apfsuseragent</string>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/CoreServices/APFSUserAgent</string>
	</array>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.iokit.matching</key>
		<dict>
			<key>apfsd-container</key>
			<dict>
				<key>IOProviderClass</key>
				<string>AppleAPFSContainer</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>EnablePressuredExit</key>
	<true/>
	<key>ProcessType</key>
	<string>Adaptive</string>
</dict>
</plist>
