<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceSystemPolicyAllFiles</string>
	</array>
	<key>EnablePressuredExit</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
	<key>Label</key>
	<string>com.apple.scopedbookmarksagent.xpc</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.scopedbookmarksagent.xpc</key>
		<true/>
	</dict>
	<key>Program</key>
	<string>/System/Library/CoreServices/ScopedBookmarkAgent</string>
	<key>POSIXSpawnType</key>
	<string>Adaptive</string>
</dict>
</plist>
