<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.LocalAuthentication.UIAgent</string>
	<key>RunAtLoad</key>
	<false/>
	<key>POSIXSpawnType</key>
	<string>App</string>
	<key>EnablePressuredExit</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>Aqua</string>
		<string>LoginWindow</string>
	</array>
	<key>MachServices</key>
	<dict>
		<key>com.apple.LocalAuthentication.UI</key>
		<dict/>
		<key>com.apple.LocalAuthentication.DFR</key>
		<dict/>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/Frameworks/LocalAuthentication.framework/Support/coreautha.bundle/Contents/MacOS/coreautha</string>
	</array>
</dict>
</plist>
