<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.CalendarAgent</string>
	<key>Program</key>
	<string>/System/Library/PrivateFrameworks/CalendarAgent.framework/Executables/CalendarAgent</string>
	<key>RunAtLoad</key>
	<true/>
	<key>StartInterval</key>
	<integer>900</integer>
	<key>EnvironmentVariables</key>
	<dict>
		<key>NSRunningFromLaunchd</key>
		<string>1</string>
	</dict>
	<key>POSIXSpawnType</key>
	<string>Adaptive</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.CalendarAgent.database</key>
		<true/>
		<key>com.apple.CalendarAgent.push</key>
		<true/>
		<key>com.apple.CalendarAgent</key>
		<true/>
		<key>com.apple.CalendarAgent.push.dev</key>
		<true/>
		<key>com.apple.CalendarAgent.proxy</key>
		<true/>
		<key>com.apple.CalendarAgent.store</key>
		<true/>
	</dict>
	<key>EnableTransactions</key>
	<true/>
    <key>EnablePressuredExit</key>
    <true/>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.reachability</key>
		<dict>
			<key>apple.com</key>
			<dict>
				<key>Target</key>
				<string>www.apple.com</string>
			</dict>
			<key>default route</key>
			<dict>
				<key>Target</key>
				<string>0.0.0.0</string>
			</dict>
		</dict>
        <key>com.apple.locationd-events</key>
        <dict>
            <key>CalendarAgent</key>
            <dict>
                <key>bundleid</key>
                <string>com.apple.CalendarAgent</string>
                <key>wakeOnStatus</key>
                <true/>
            </dict>
        </dict>
		<key>com.apple.usernotificationcenter.matching</key>
		<dict>
			<key>iCal</key>
			<dict>
				<key>bundleid</key>
				<string>com.apple.iCal</string>
				<key>events</key>
				<array>
					<string>didRemoveDeliveredNotifications</string>
					<string>shouldPresentNotification</string>
					<string>didExpireNotifications</string>
					<string>didDeliverNotification</string>
					<string>didActivateNotification</string>
					<string>didDismissAlert</string>
					<string>didSnoozeAlert</string>
				</array>
			</dict>
			<key>Reminders</key>
			<dict>
				<key>bundleid</key>
				<string>com.apple.reminders</string>
				<key>events</key>
				<array>
					<string>didRemoveDeliveredNotifications</string>
					<string>shouldPresentNotification</string>
					<string>didExpireNotifications</string>
					<string>didDeliverNotification</string>
					<string>didActivateNotification</string>
					<string>didDismissAlert</string>
					<string>didSnoozeAlert</string>
				</array>
			</dict>
		</dict>
        <key>com.apple.notifyd.matching</key>
        <dict>
            <key>SignificantTimeChangeNotification</key>
            <dict>
                <key>Notification</key>
                <string>SignificantTimeChangeNotification</string>
            </dict>
            <key>com.apple.system.timezone</key>
            <dict>
                <key>Notification</key>
                <string>com.apple.system.timezone</string>
            </dict>
            <key>com.apple.system.clock_set</key>
            <dict>
                <key>Notification</key>
                <string>com.apple.system.clock_set</string>
            </dict>
        </dict>
        <key>com.apple.xpc.activity</key>
        <dict>
            <key>com.apple.calendar.AlarmScan</key>
            <dict>
                <key>Interval</key>
                <integer>2700</integer>
                <key>GracePeriod</key>
                <integer>600</integer>
                <key>Priority</key>
                <string>Utility</string>
                <key>Repeating</key>
                <true/>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
