<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.ctkd</string>
	<key>RunAtLoad</key>
	<false/>
	<key>EnablePressuredExit</key>
	<true/>
	<key>POSIXSpawnType</key>
	<string>Adaptive</string>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/Frameworks/CryptoTokenKit.framework/ctkd</string>
		<string>-tw</string>
	</array>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.notifyd.matching</key>
		<dict>
			<key>com.apple.ctk.first-slot</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.ctk.first-slot</string>
			</dict>
		</dict>
	</dict>
	<key>MachServices</key>
	<dict>
		<key>com.apple.ctkd.token-client</key>
		<true/>
		<key>com.apple.ctkd.watcher-client</key>
		<true/>
	</dict>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>Aqua</string>
		<string>LoginWindow</string>
		<string>Background</string>
	</array>
</dict>
</plist>
