<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>DrainMessagesOnFailedInit</key>
	<true/>
	<key>EnablePressuredExit</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
	<key>EnvironmentVariables</key>
	<dict/>
	<key>Label</key>
	<string>com.apple.bird</string>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.distnoted.matching</key>
		<dict>
			<key>com.apple.bird.apps.install</key>
			<dict>
				<key>Name</key>
				<string>com.apple.LaunchServices.applicationRegistered</string>
			</dict>
			<key>com.apple.bird.apps.uninstall</key>
			<dict>
				<key>Name</key>
				<string>com.apple.LaunchServices.applicationUnregistered</string>
			</dict>
		</dict>
		<key>com.apple.fsevents.matching</key>
		<dict>
			<key>com.apple.bird.fsevents</key>
			<dict>
				<key>Path</key>
				<string>~/Library/Mobile Documents</string>
			</dict>
		</dict>
		<key>com.apple.xpc.activity</key>
		<dict>
			<key>com.apple.bird.configuration-server-update</key>
			<dict>
				<key>AllowBattery</key>
				<false/>
				<key>Interval</key>
				<integer>172800</integer>
				<key>Priority</key>
				<string>Maintenance</string>
				<key>Repeating</key>
				<true/>
			</dict>
			<key>com.apple.bird.sync</key>
			<dict>
				<key>AllowBattery</key>
				<false/>
				<key>Interval</key>
				<integer>28800</integer>
				<key>Priority</key>
				<string>Maintenance</string>
				<key>Repeating</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>MachServices</key>
	<dict>
		<key>com.apple.bird</key>
		<true/>
		<key>com.apple.bird.cache-delete</key>
		<true/>
		<key>com.apple.bird.push</key>
		<true/>
		<key>com.apple.bird.token</key>
		<true/>
	</dict>
	<key>POSIXSpawnType</key>
	<string>Adaptive</string>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/PrivateFrameworks/CloudDocsDaemon.framework/Versions/A/Support/bird</string>
	</array>
</dict>
</plist>
