<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.AccessibilityVisualsAgent</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.AccessibilityVisualsAgent</key>
		<true/>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/PrivateFrameworks/AccessibilitySupport.framework/Versions/A/Resources/AccessibilityVisualsAgent.app/Contents/MacOS/AccessibilityVisualsAgent</string>
	</array>
	<key>EnablePressuredExit</key>
	<true/>
	<key>ProcessType</key>
	<string>Adaptive</string>
</dict>
</plist>
