<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnablePressuredExit</key>
	<false/>
	<key>EnableTransactions</key>
	<false/>
	<key>KeepAlive</key>
	<dict>
		<key>Crashed</key>
		<true/>
	</dict>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.notifyd.matching</key>
		<dict>
			<key>com.apple.MediaRemote.externalTouchBarInvocation</key>
			<dict>
				<key>Notification</key>
				<string>kMRMediaRemoteNowPlayingExternalTouchBarInvocationNotification</string>
			</dict>
		</dict>
	</dict>
	<key>Label</key>
	<string>com.apple.nowplayingtouchui</string>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>Aqua</string>
		<string>LoginWindow</string>
	</array>
	<key>POSIXSpawnType</key>
	<string>App</string>
	<key>ProcessType</key>
	<string>App</string>
	<key>Program</key>
	<string>/System/Library/CoreServices/NowPlayingTouchUI.app/Contents/MacOS/NowPlayingTouchUI</string>
</dict>
</plist>
