<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>POSIXSpawnType</key>
	<string>Interactive</string>
	<key>EnableTransactions</key>
	<true/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>MallocCorruptionAbort</key>
		<string>1</string>
	</dict>
	<key>Label</key>
	<string>com.apple.mdworker.sizing</string>
	<key>LimitLoadToSessionType</key>
	<string>Background</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.mdworker.sizing</key>
		<dict>
			<key>ResetAtClose</key>
			<true/>
		</dict>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/Frameworks/CoreServices.framework/Frameworks/Metadata.framework/Versions/A/Support/mdworker</string>
		<string>-s</string>
		<string>mdworker-sizing</string>
		<string>-c</string>
		<string>MDSSizingWorker</string>
		<string>-m</string>
		<string>com.apple.mdworker.sizing</string>
	</array>
	<key>LowPriorityBackgroundIO</key>
	<true/>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Spotlight</string>
</dict>
</plist>
