<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>POSIXSpawnType</key>
	<string>App</string>
	<key>RunAtLoad</key>
	<false/>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
		<key>AfterInitialDemand</key>
		<true/>
	</dict>
	<key>Label</key>
	<string>com.apple.Finder</string>
	<key>Program</key>
	<string>/System/Library/CoreServices/Finder.app/Contents/MacOS/Finder</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.finder</string>
	<key>ThrottleInterval</key>
	<integer>1</integer>
</dict>
</plist>
