<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.accessibility.dfrhud</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.accessibility.dfrhud</key>
		<true/>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/PrivateFrameworks/UniversalAccess.framework/Versions/A/Resources/DFRHUD.app/Contents/MacOS/DFRHUD</string>
		<string>launchd</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>EnableTransactions</key>
	<true/>
	<key>ThrottleInterval</key>
	<integer>5</integer>
	<key>POSIXSpawnType</key>
	<string>App</string>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>Aqua</string>
	</array>
	<key>EnablePressuredExit</key>
	<false/>
	<key>KeepAlive</key>
	<false/>
</dict>
</plist>
