<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.universalaccessd</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.universalaccessd.startup</key>
		<dict>
			<key>ResetAtClose</key>
			<true/>
		</dict>
		<key>com.apple.universalaccessd.running</key>
		<dict>
			<key>HideUntilCheckIn</key>
			<true/>
			<key>ResetAtClose</key>
			<true/>
		</dict>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/sbin/universalaccessd</string>
		<string>launchd</string>
		<string>-s</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
	<key>POSIXSpawnType</key>
	<string>Interactive</string>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>Aqua</string>
		<string>LoginWindow</string>
	</array>
	<key>EnablePressuredExit</key>
	<false/>
</dict>
</plist>
