<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.appstoreagent</string>
	<key>Program</key>
	<string>/System/Library/PrivateFrameworks/AppStoreDaemon.framework/Support/appstoreagent</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.appstoreagent.aps</key>
		<string></string>
		<key>com.apple.appstoreagent.aps.dev</key>
		<string></string>
		<key>com.apple.appstoreagent.xpc</key>
		<true/>
	</dict>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>LoginWindow</string>
		<string>Aqua</string>
	</array>
	<key>EnableTransactions</key>
	<true/>
	<key>EnablePressuredExit</key>
	<true/>
	<key>ProcessType</key>
	<string>Adaptive</string>
	<key>RunAtLoad</key>
	<false/>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.usernotificationcenter.matching</key>
		<dict>
			<key>appstoreagent</key>
			<dict>
				<key>bundleid</key>
				<string>com.apple.appstoreagent</string>
				<key>system</key>
				<true/>
				<key>events</key>
				<array>
					<string>didDismissAlert</string>
					<string>didActivateNotification</string>
					<string>didDeliverNotification</string>
					<string>didSnoozeAlert</string>
					<string>didRemoveDeliveredNotifications</string>
					<string>didExpireNotifications</string>
				</array>
			</dict>
		</dict>
		<key>com.apple.xpc.activity</key>
		<dict>
			<key>com.apple.appstoreagent.scheduleTasks</key>
			<dict>
				<key>Delay</key>
				<integer>120</integer>
				<key>GracePeriod</key>
				<integer>60</integer>
				<key>Priority</key>
				<string>Maintenance</string>
				<key>Repeating</key>
				<false/>
				<key>AllowBattery</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
