<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.coreservices.UASharedPasteboardProgressUI</string>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>Aqua</string>
		<string>LoginWindow</string>
	</array>
	<key>MachServices</key>
	<dict>
		<key>com.apple.coreservices.uasharedpasteboardprogressui.xpc</key>
		<true/>
	</dict>
	<key>POSIXSpawnType</key>
	<string>Adaptive</string>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/PrivateFrameworks/UserActivity.framework/Agents/UASharedPasteboardProgressUI.app/Contents/MacOS/UASharedPasteboardProgressUI</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>DrainMessagesAfterFailedInit</key>
	<true/>
	<key>EnablePressuredExit</key>
	<true/>
</dict>
</plist>
