<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<dict>
		<key>AfterInitialDemand</key>
		<true/>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>Label</key>
	<string>com.apple.Dock.agent</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.dock.remotedesktoppicture</key>
		<dict>
			<key>HideUntilCheckIn</key>
			<true/>
		</dict>
		<key>com.apple.dock.appstore</key>
		<dict>
			<key>HideUntilCheckIn</key>
			<true/>
		</dict>
		<key>com.apple.dock.downloads</key>
		<dict>
			<key>HideUntilCheckIn</key>
			<true/>
		</dict>
		<key>com.apple.dock.fullscreen</key>
		<dict>
			<key>HideUntilCheckIn</key>
			<true/>
		</dict>
		<key>com.apple.dock.launchpad</key>
		<dict>
			<key>HideUntilCheckIn</key>
			<true/>
		</dict>
		<key>com.apple.dock.notificationcenter</key>
		<dict>
			<key>HideUntilCheckIn</key>
			<true/>
		</dict>
		<key>com.apple.dock.server</key>
		<dict>
			<key>HideUntilCheckIn</key>
			<true/>
		</dict>
		<key>com.apple.desktoppicture.cache-delete</key>
		<dict>
			<key>HideUntilCheckIn</key>
			<true/>
		</dict>
	</dict>
	<key>Program</key>
	<string>/System/Library/CoreServices/Dock.app/Contents/MacOS/Dock</string>
	<key>RunAtLoad</key>
	<false/>
	<key>ThrottleInterval</key>
	<integer>1</integer>
	<key>POSIXSpawnType</key>
	<string>App</string>
</dict>
</plist>
