<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnableTransactions</key>
	<true/>
	<key>Label</key>
	<string>com.apple.WebKit.PluginAgent</string>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/Frameworks/WebKit.framework/Frameworks/WebKitLegacy.framework/WebKitPluginAgent</string>
	</array>
	<key>MachServices</key>
	<dict>
		<key>com.apple.WebKit.PluginAgent</key>
		<dict>
			<key>ResetAtClose</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
