<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.loginwindow.LWWeeklyMessageTracer</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>0</integer>
		<key>Minute</key>
		<integer>15</integer>
		<key>Weekday</key>
		<integer>6</integer>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/CoreServices/loginwindow.app/Contents/Resources/LWWeeklyMessageTracer</string>
	</array>
</dict>
</plist>
