<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RunAtLoad</key>
	<true/>
	<key>Disabled</key>
	<false/>
	<key>Label</key>
	<string>com.apple.icdd</string>
	<key>EnablePressuredExit</key>
	<false/>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>KeepAlive</key>
	<true/>
	<key>MachServices</key>
	<dict>
		<key>com.apple.icdd</key>
		<true/>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/Image Capture/Support/icdd</string>
	</array>
</dict>
</plist>
