<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>POSIXSpawnType</key>
	<string>Interactive</string>
	<key>Label</key>
	<string>com.apple.CommCenter</string>
	<key>LimitLoadFromHardware</key>
	<dict>
		<key>model</key>
		<array>
			<string>iMac7,1</string>
			<string>iMac8,1</string>
			<string>iMac9,1</string>
			<string>iMac10,1</string>
			<string>iMac11,1</string>
			<string>iMac11,2</string>
			<string>iMac11,3</string>
			<string>iMac12,1</string>
			<string>iMac12,2</string>

			<string>MacBook5,1</string>
			<string>MacBook5,2</string>
			<string>MacBook6,1</string>
			<string>MacBook7,1</string>

			<string>MacBookAir2,1</string>
			<string>MacBookAir3,1</string>
			<string>MacBookAir3,2</string>
			<string>MacBookAir4,1</string>
			<string>MacBookAir4,2</string>

			<string>MacBookPro3,1</string>
			<string>MacBookPro4,1</string>
			<string>MacBookPro5,1</string>
			<string>MacBookPro5,2</string>
			<string>MacBookPro5,3</string>
			<string>MacBookPro5,4</string>
			<string>MacBookPro5,5</string>
			<string>MacBookPro6,1</string>
			<string>MacBookPro6,2</string>
			<string>MacBookPro7,1</string>
			<string>MacBookPro8,1</string>
			<string>MacBookPro8,2</string>
			<string>MacBookPro8,3</string>

			<string>Macmini3,1</string>
			<string>Macmini4,1</string>
			<string>Macmini5,1</string>
			<string>Macmini5,2</string>
			<string>Macmini5,3</string>

			<string>MacPro3,1</string>
			<string>MacPro4,1</string>
			<string>MacPro5,1</string>
		</array>
	</dict>

	<key>MachServices</key>
	<dict>
		<key>com.apple.ipTelephony</key>
		<true/>
		<key>com.apple.commcenter.xpc</key>
		<true/>
		<key>com.apple.commcenter.coretelephony.xpc</key>
		<true/>
		<key>com.apple.commcenter.atcs.xpc</key>
		<true/>
		<key>com.apple.commcenter</key>
		<dict>
			<key>ResetAtClose</key>
			<true/>
		</dict>
		<key>com.apple.private.alloy.thumper.keys-idswake</key>
		<true/>
	</dict>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.notifyd.matching</key>
		<dict>
			<key>com.apple.coretelephony.kvstorechange</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.coretelephony.kvstorechange</string>
			</dict>
		</dict>
	</dict>
	<key>KeepAlive</key>
	<dict>
		<key>Crashed</key>
		<true/>
		<key>PathState</key>
		<dict>
			<key>/tmp/CommCenter.KeepAlive.Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>EnableTransactions</key>
	<true/>
	<key>EnablePressuredExit</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/Frameworks/CoreTelephony.framework/Support/CommCenter</string>
		<string>-L</string>
	</array>
</dict>
</plist>
