<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.cloudphotosd</string>
	<key>Program</key>
	<string>/System/Library/CoreServices/cloudphotosd.app/Contents/MacOS/cloudphotosd</string>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.xpc.activity</key>
		<dict>
			<key>com.apple.cloudphotosd.pending-work.once</key>
			<dict>
				<key>Interval</key>
				<integer>300</integer>
				<key>GracePeriod</key>
				<integer>200</integer>
				<key>Priority</key>
				<string>Utility</string>
				<key>AllowBattery</key>
				<true/>
				<key>Repeating</key>
				<false/>
				<key>PowerNap</key>
				<true/>
			</dict>
			<key>com.apple.cloudphotosd.periodicmaintenance</key>
			<dict>
				<key>Interval</key>
				<integer>86400</integer>
				<key>GracePeriod</key>
				<integer>43200</integer>
				<key>Priority</key>
				<string>Maintenance</string>
				<key>Repeating</key>
				<true/>
				<key>RequireScreenSleep</key>
				<true/>
				<key>RequireNetworkConnectivity</key>
				<true/>
			</dict>
		</dict>
		<key>com.apple.distnoted.matching</key>
		<dict>
			<key>icloud-account-login</key>
			<dict>
				<key>Name</key>
				<string>com.apple.AOSAccounts.AOSAccountStatusLoginNotification</string>
			</dict>
			<key>icloud-account-logout</key>
			<dict>
				<key>Name</key>
				<string>com.apple.AOSAccounts.AOSAccountStatusLogoutNotification</string>
			</dict>
			<key>service-state-change</key>
			<dict>
				<key>Name</key>
				<string>com.apple.photo.CPSServiceStateChangeNotification</string>
			</dict>
		</dict>
	</dict>
	<key>MachServices</key>
	<dict>
		<key>com.apple.cloudphotosd.push</key>
		<true/>
		<key>com.apple.cloudphotosd</key>
		<true/>
		<key>com.apple.cloudphotosd.cpl.cachedelete</key>
		<true/>
		<key>com.apple.cloudphotosd.ilmb.cachedelete</key>
		<true/>
	</dict>
	<key>EnableTransactions</key>
	<true/>
	<key>EnablePressuredExit</key>
	<true/>
	<key>ProcessType</key>
	<string>Adaptive</string>
</dict>
</plist>
