<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.iTunesHelper.launcher</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/iTunes.app/Contents/MacOS/iTunesHelper.app/Contents/MacOS/iTunesHelper</string>
		<string>--launchd</string>
	</array>
	<key>EnableTransactions</key>
	<true/>
	<key>EnablePressuredExit</key>
	<true/>
	<key>ProcessType</key>
	<string>Background</string>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.iokit.matching</key>
		<dict>
			<key>com.apple.device-attach.ios</key>
			<dict>
				<key>IOPropertyMatch</key>
				<dict>
					<key>SupportsIPhoneOS</key>
					<true/>
				</dict>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.1</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4609</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.2</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4610</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.3</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4611</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.4</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4612</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.5</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4613</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.6</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4614</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.7</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4615</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.8</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4616</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.9</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4617</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.10</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4618</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.11</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4704</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.12</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4705</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.13</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4706</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.14</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4707</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.15</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4709</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.16</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4710</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.17</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4711</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.18</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4864</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.19</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4865</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.20</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4866</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.21</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4867</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.rec.1</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4640</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.rec.2</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4672</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.rec.3</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4641</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.rec.4</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4644</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.rec.5</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4643</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.rec.6</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4673</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.rec.7</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4677</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.rec.8</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4679</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.rec.9</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4688</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.rec.10</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4674</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.rec.11</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4645</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.rec.12</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4675</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.rec.13</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4657</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.rec.14</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4678</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.rec.15</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4658</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.rec.16</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4680</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.rec.17</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4659</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.rec.18</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4660</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.rec.19</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4681</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.rec.20</key>
			<dict>
				<key>idVendor</key>
                <integer>1452</integer>
                <key>idProduct</key>
                <integer>4682</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.rec.21</key>
			<dict>
				<key>idVendor</key>
                <integer>1647</integer>
                <key>idProduct</key>
                <integer>13328</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>com.apple.device-attach.ipod.rec.22</key>
			<dict>
				<key>idVendor</key>
                <integer>1647</integer>
                <key>idProduct</key>
                <integer>13568</integer>
				<key>IOProviderClass</key>
				<string>IOUSBDevice</string>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
