<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnablePressuredExit</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
	<key>Label</key>
	<string>com.apple.AssetCache.agent</string>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.distnoted.matching</key>
		<dict>
			<key>com.apple.AssetCache.alert</key>
			<dict>
				<key>Name</key>
				<string>com.apple.AssetCache.alert</string>
			</dict>
		</dict>
	</dict>
	<key>ProcessType</key>
	<string>Background</string>
	<key>Program</key>
	<string>/usr/libexec/AssetCacheAgent/AssetCacheAgent</string>
</dict>
</plist>
