<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MachServices</key>
	<dict>
		<key>com.apple.assistant.analytics</key>
		<true/>
		<key>com.apple.assistant.analytics-observation</key>
		<true/>
		<key>com.apple.assistant.client</key>
		<true/>
		<key>com.apple.siri.external_request</key>
		<true/>
		<key>com.apple.assistant.dictation</key>
		<true/>
		<key>com.apple.assistant.sync</key>
		<true/>
		<key>com.apple.siri.vocabularyupdates</key>
		<true/>
		<key>com.apple.assistant.security</key>
		<true/>
		<key>com.apple.assistant.settings</key>
		<true/>
		<key>com.apple.assistantd.managedstorage</key>
		<true/>
		<key>com.apple.siri.contextcollector</key>
		<true/>
		<key>com.apple.siri.client_lite</key>
		<true/>
		<key>com.apple.siri.tether</key>
		<true/>
		<key>com.apple.assistantd.aps</key>
		<true/>
		<key>com.apple.private.alloy.siri.icloud-idswake</key>
		<true/>
		<key>com.apple.aps.assistantd.fmip</key>
		<true/>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/PrivateFrameworks/AssistantServices.framework/Versions/A/Support/assistantd</string>
	</array>
	<key>Label</key>
	<string>com.apple.assistantd</string>
	<key>EnableTransactions</key>
	<true/>
	<key>EnablePressuredExit</key>
	<true/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>DEFAULT_NETWORK_PRIVACY_LEVEL</key>
		<string>public</string>
	</dict>
	<key>ProcessType</key>
	<string>Adaptive</string>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.distnoted.matching</key>
		<dict>
			<key>ABDatabaseChangedExternallyNotificationPriv</key>
			<dict>
				<key>Name</key>
				<string>ABDatabaseChangedExternallyNotificationPriv</string>
			</dict>
			<key>ABDistributedDatabaseChangedNotificationPriv</key>
			<dict>
				<key>Name</key>
				<string>ABDistributedDatabaseChangedNotificationPriv</string>
			</dict>
			<key>com.apple.LaunchServices.applicationUnregistered</key>
			<dict>
				<key>Name</key>
				<string>com.apple.LaunchServices.applicationUnregistered</string>
			</dict>
			<key>com.apple.LaunchServices.applicationRegistered</key>
			<dict>
				<key>Name</key>
				<string>com.apple.LaunchServices.applicationRegistered</string>
			</dict>
			<key>CKPersistentStorageKeysAndValuesUpdated.synched</key>
			<dict>
				<key>Name</key>
				<string>CKPersistentStorageKeysAndValuesUpdated.synched</string>
			</dict>
			<key>CKPersistentStorageKeysRemoved.synched</key>
			<dict>
				<key>Name</key>
				<string>CKPersistentStorageKeysRemoved.synched</string>
			</dict>
		</dict>
		<key>com.apple.notifyd.matching</key>
		<dict>
			<key>com.apple.siri.client.state.DynamiteClientState.siri_data_changed</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.siri.client.state.DynamiteClientState.siri_data_changed</string>
			</dict>
			<key>MPStoreClientTokenDidChangeNotification</key>
			<dict>
				<key>Notification</key>
				<string>MPStoreClientTokenDidChangeNotification</string>
			</dict>
			<key>com.apple.chatkit.groups.siri_data_changed</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.chatkit.groups.siri_data_changed</string>
			</dict>
			<key>com.apple.reminder.list.name.siri_data_changed</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.reminder.list.name.siri_data_changed</string>
			</dict>
			<key>AppleDatePreferencesChangedNotification</key>
			<dict>
				<key>Notification</key>
				<string>AppleDatePreferencesChangedNotification</string>
			</dict>
			<key>com.apple.assistant.app_vocabulary</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.assistant.app_vocabulary</string>
			</dict>
			<key>com.apple.assistant.siri_settings_did_change</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.assistant.siri_settings_did_change</string>
			</dict>
			<key>com.apple.assistant.sync_homekit_now</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.assistant.sync_homekit_now</string>
			</dict>
			<key>com.apple.assistant.sync_data_changed</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.assistant.sync_data_changed</string>
			</dict>
			<key>com.apple.geoservices.siri_data_changed</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.geoservices.siri_data_changed</string>
			</dict>
			<key>com.apple.voicetrigger.EarlyDetect</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.voicetrigger.EarlyDetect</string>
			</dict>
			<key>com.apple.MobileAsset.VoiceServices.VoiceResources.new-asset-installed</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.MobileAsset.VoiceServices.VoiceResources.new-asset-installed</string>
			</dict>
			<key>com.apple.voiceservices.notification.voice-update</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.voiceservices.notification.voice-update</string>
			</dict>
			<key>com.apple.assistant.sync_needed</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.assistant.sync_needed</string>
			</dict>
			<key>com.apple.siri.preheat.quiet</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.siri.preheat.quiet</string>
			</dict>
			<key>com.apple.voicetrigger.PHSProfileModified</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.voicetrigger.PHSProfileModified</string>
			</dict>
			<key>com.apple.managedconfiguration.effectivesettingschanged</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.managedconfiguration.effectivesettingschanged</string>
			</dict>
			<key>com.apple.icloud.fmip.siri_data_changed</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.icloud.fmip.siri_data_changed</string>
			</dict>
			<key>com.apple.VideoSubscriberAccount.DidRegisterSubscription</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.VideoSubscriberAccount.DidRegisterSubscription</string>
			</dict>
			<key>com.apple.MobileAsset.VoiceTriggerAssetsMac.new-asset-installed</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.MobileAsset.VoiceTriggerAssetsMac.new-asset-installed</string>
			</dict>
		</dict>
		<key>com.apple.xpc.activity</key>
		<dict>
			<key>com.apple.siri.xpc_activity.launchAtLogin</key>
			<dict>
				<key>Repeating</key>
				<false/>
				<key>Priority</key>
				<string>Utility</string>
				<key>Delay</key>
				<integer>0</integer>
				<key>GracePeriod</key>
				<integer>120</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
