<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<dict>
		<key>PathState</key>
		<dict>
			<key>~/Library/Caches/GeoServices/Navd/working</key>
			<true/>
		</dict>
	</dict>
	<key>Label</key>
	<string>com.apple.navd</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.navd</key>
		<true/>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/CoreServices/navd</string>
	</array>
	<key>POSIXSpawnType</key>
	<string>Adaptive</string>
	<key>EnablePressuredExit</key>
	<true/>
</dict>
</plist>
