<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.DiagnosticReportCleanup.plist</string>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/CoreServices/SubmitDiagInfo</string>
		<string>cleanup</string>
	</array>
	<key>EnableTransactions</key>
	<true/>
	<key>ProcessType</key>
	<string>Background</string>
	<key>LowPriorityIO</key>
	<true/>
	<key>LowPriorityBackgroundIO</key>
	<true/>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>11</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
