<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnableTransactions</key>
	<true/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>NSRunningFromLaunchd</key>
		<string>1</string>
	</dict>
	<key>Label</key>
	<string>com.apple.telephonyutilities.callservicesd</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.telephonyutilities.callservicesdaemon.callstatecontroller</key>
		<true/>
		<key>com.apple.telephonyutilities.callservicesdaemon.callcapabilities</key>
		<true/>
		<key>com.apple.telephonyutilities.callservicesdaemon.callhistorymanager</key>
		<true/>
		<key>com.apple.telephonyutilities.callservicesdaemon.callprovidermanager</key>
		<true/>
		<key>com.apple.telephonyutilities.callservicesdaemon.momentscontroller</key>
		<true/>
		<key>com.apple.private.alloy.phonecontinuity-idswake</key>
		<true/>
		<key>com.apple.private.alloy.facetime.audio-idswake</key>
		<true/>
		<key>com.apple.private.alloy.facetime.video-idswake</key>
		<true/>
		<key>com.apple.private.alloy.facetime.multi-idswake</key>
		<true/>
		<key>com.apple.private.alloy.phone.auth-idswake</key>
		<true/>
		<key>com.apple.callkit.callsourcehost</key>
		<true/>
		<key>com.apple.callkit.callcontrollerhost</key>
		<true/>
		<key>com.apple.telephonyutilities.callservicesdaemon.conversationmanager</key>
		<true/>
	</dict>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.distnoted.matching</key>
		<dict>
			<key>com.apple.callhistory.save.distributed.notification</key>
			<dict>
				<key>Name</key>
				<string>com.apple.callhistory.save.distributed.notification</string>
			</dict>
		</dict>
		<key>com.apple.notifyd.matching</key>
		<dict>
			<key>com.apple.telephonyutilities.callservicesd.fakeincomingmessage</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.telephonyutilities.callservicesd.fakeincomingmessage</string>
			</dict>
			<key>com.apple.telephonyutilities.callservicesd.fakeoutgoingmessage</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.telephonyutilities.callservicesd.fakeoutgoingmessage</string>
			</dict>
			<key>com.apple.telephonyutilities.callservicesd.kFaceTimeChangedNotification</key>
			<dict>
				<key>Notification</key>
				<string>kFaceTimeChangedNotification</string>
			</dict>
			<key>com.apple.telephonyutilities.callservicesd.kFZACAppBundleIdentifierLaunchNotification</key>
			<dict>
				<key>Notification</key>
				<string>kFZACAppBundleIdentifierLaunchNotification</string>
			</dict>
			<key>com.apple.telephonyutilities.callservicesd.kFZVCAppBundleIdentifierLaunchNotification</key>
			<dict>
				<key>Notification</key>
				<string>kFZVCAppBundleIdentifierLaunchNotification</string>
			</dict>
		</dict>
		<key>com.apple.CTTelephonyCenter</key>
		<dict>
			<key>com.apple.telephonyutilities.callservicesd.kCTSettingCallCapabilitiesChangedNotification</key>
			<dict>
				<key>Name</key>
				<string>kCTSettingCallCapabilitiesChangedNotification</string>
			</dict>
		</dict>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/PrivateFrameworks/TelephonyUtilities.framework/callservicesd</string>
	</array>
	<key>EnablePressuredExit</key>
	<true/>
	<key>ProcessType</key>
	<string>Adaptive</string>
</dict>
</plist>
