<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnableTransactions</key>
	<true/>
	<key>Label</key>
	<string>com.apple.metadata.mdwrite</string>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/Frameworks/CoreServices.framework/Frameworks/Metadata.framework/Versions/A/Support/mdwrite</string>
	</array>
	<key>MachServices</key>
	<dict>
		<key>com.apple.metadata.mdwrite</key>
		<true/>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Spotlight</string>
	<key>LowPriorityBackgroundIO</key>
	<false/>
</dict>
</plist>
